/* Navigation menu */

header {
	right: 0;
  	top: 0;
  	left: 0;
	margin-left: 0;
	margin-right: 0;
	background-color: #222;
	text-align: center;
}

.top #nav-name {
	text-align: center;
	margin-top: 0;
	color: white;
}

/*
ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
	list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
*/

.active {
	background-color:#4CAF50;
}

/* from http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support */
#menu {
	float: left;
	width: 100%;
	background: #333;
	position: relative;
	overflow: hidden;
}

#menu ul {
   clear: left;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   left: 50%;
   text-align: center;
   background-color: #333;
}

#menu ul li {
   display: block;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   right: 50%;
}

#menu ul li a {
   display: block;
   margin: 0 0 0 1px;
   padding: 14px 50px;
   color: #fff;
   text-decoration: none;
   line-height: 1.3em;
}

/*
#menu ul li a:hover {
   background: #369;
   color: #fff;
} */

/*
#menu ul li a.active,
#menu ul li a.active:hover {
   color: #fff;
   background: #4CAF50;
   font-weight: bold;
} */

#menu a:hover:not(.active) {
    background-color: #111;
}

/* ***************************** */
/*  NOTE: If I really plan on keeping this as is, will just consolidate the #menu and #footer css */

footer {
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
}

#footer {
	float: left;
	width: 100%;
	background: #333;
	overflow: hidden;
	position: relative;
}

#footer ul {
   clear: left;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   left: 50%;
   text-align: center;
   background-color: #333;
}

#footer ul li {
   display: block;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   right: 50%;
}

#footer ul li a {
   display: block;
   margin: 0 0 0 1px;
   padding: 14px 50px;
   color: #fff;
   text-decoration: none;
   line-height: 1.3em;
}
