/* Navigation menu */

header {
	margin-left: 0;
	margin-right: 0;
	background-color: #222;
	text-align: center;
}

header span {
	color: white;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
	list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
	background-color:#4CAF50;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

#nav li {
	text-align: center;
}